<div class="navbar-lewagon">
  <div class="menu">
    <%= "Menu" %>
  </div>
  <div>
    <%= link_to "home", root_path %>
  </div>
  <div class="navbar-brand">
    <%= image_tag "logo.png" %>
  </div>
</div>
